body {
  background: url("https://images6.alphacoders.com/461/461979.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  font-family: 'Molengo', sans-serif;
  font-size: 60px;
}

.results {
  font-family: 'Molengo', sans-serif;
  font-family: 'Molengo', sans-serif;
}

#button {
  border-radius: 4px;
  font-family: 'Molengo', sans-serif;
}

form {
  font-family: 'Molengo', sans-serif;
  font-size: 20px;
}

input {
  border-radius: 4px;
  text-align: center;
  /*font-family: 'Molengo', sans-serif;*/
}

#results {
  display: none;
}

#results h3 {

  font-family: 'Molengo', sans-serif;
}
